<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.userone.shoppingproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <activity
            android:name=".SplashActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- custom facebook activity-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1854069534827378"
            android:exported="true" />
        <activity android:name=".ProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"

            />
        <activity
            android:name=".SearchActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".DisplayItemsActivity"
            android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity
            android:name=".DisplayItemsActivity"
            android:theme="@style/AppTheme.NoActionBar"


          />
        <activity
            android:name=".SingleItemActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ChangePasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"

            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".JoinDealswebActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".Login_Activity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".FotgotPasswordActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".SubCategoryActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name=".SubScriptionsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="projo.GalleryUtil"
            android:theme="@style/AppTheme.NoActionBar"
          />
        <activity android:name=".EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            />
        <activity android:name=".AboutTabLayoutActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden"
            /><activity android:name=".AboutActivity"
        android:theme="@style/AppTheme.NoActionBar"
        android:windowSoftInputMode="stateAlwaysHidden"
        />
        <activity android:name=".ContactUsActivity"
        android:theme="@style/AppTheme.NoActionBar"
        />
        <activity android:name=".UserLikesSectionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity android:name=".GetDealActivity"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>